body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f0f2f5;
  font-size: 16px;
}

input {
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: 1px solid #cc0d00;
}

textarea:focus {
  outline: none;
  border: 1px solid #cc0d00;
}

.page {
  display: grid;
  position: relative;
}

header {
  height: 48px;
  background-color: #001529;
  z-index: 99;
}

.header-container {
  height: 100%;
  margin: 0 16px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.header-container > h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-left: 12px;
}

.logo {
  width: 28px;
  height: 28px;
}

.body {
  display: flex;
}

.menu {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #001529;
  padding-top: 48px;
  z-index: 9;
  box-sizing: border-box;
}

.menu-item {
  width: 180px;
  padding: 8px 0 8px 20px;
  color: #ffffffa6;
}

.menu > .active {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.menu-item:hover {
  color: #fff;
  cursor: pointer;
}

.menu-item > span {
  font-size: 16px;
}

main {
  width: 100vw;
  height: 90vh;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-left: 200px;
  background: #f0f2f5;
  overflow-y: scroll;
  box-sizing: border-box;
}

main::-webkit-scrollbar {
  width: 0px; /* Độ rộng của thanh trượt */
}

.main-container {
  width: 80vw;
  margin: 20px 0 0 20px;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  margin-top: 20px;
  /* border-collapse: collapse; */
  box-shadow: 0 10px 15px -3px #0000001a;
  background-color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  /* border: 1px solid #ddd; */
  color: #090909;
}

tr:hover {
  cursor: pointer;
}

.required-mark::after {
  display: inline-block;
  margin-left: 4px;
  color: #ff4d4f;
  font-size: 14px;
  line-height: 1;
  content: "*";
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #cc0d00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
}

.button:hover {
  cursor: pointer;
}

.line-button {
  display: inline-block;
  padding: 10px 26px;
  border: 2px solid #cc0d00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #cc0d00;
  border-radius: 2px;
}

.line-button:hover {
  cursor: pointer;
  background-color: #cc0d00;
  color: #fff;
}

.large-normal-font {
  font-size: 18px;
}

.large-bold-font {
  font-size: 18px;
  font-weight: bold;
}

.larger-normal-font {
  font-size: 20px;
}

.larger-bold-font {
  font-size: 20px;
  font-weight: bold;
}

.popup {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-container {
  width: 800px;
  padding: 10px 20px;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.popup-close-btn {
  float: right;
  font-size: 30px;
  margin-bottom: 10px;
}
.popup-close-btn:hover {
  cursor: pointer;
}

.popup-actions {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.exam-area > span {
  font-size: 16px;
  font-weight: 600;
}

.exam-list-card {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.exam-card {
  width: 20vw;
  height: 170px;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.exam-card-content {
  margin-top: 10px;
}

.student-area {
  width: 80vw;
  padding: 20px;
  margin-top: 40px;
  background-color: #fff;
  box-sizing: border-box;
}

select:focus {
  outline: none;
}

.statistic-area {
  width: 80vw;
  height: 500px;
  padding: 20px;
  margin-top: 40px;
  background-color: #fff;
  box-sizing: border-box;
}
